.gif {
    background-repeat: no-repeat;
    background-size: contain;
    width: 156px;
    height: 120px;
    position: relative;
    margin: 15px;
}

.gifTrending {
    background-repeat: no-repeat;
    background-size: contain;
    width: 357px;
    height: 275px;
    position: relative;
    margin: 15px;
}

.gif-image {
    width: 156px;
    height: 120px;
}

@media screen and (min-width:768px){
    .gif-image, .gif {
        width: 186px;
        height: 150px;
    }
}

@media screen and (min-width:1140px) {
    .gif-image, .gif {
        width: 260px;
        height: 200px;
    }
}