.gif {
    background-repeat: no-repeat;
    background-size: contain;
    width: 156px;
    height: 120px;
    position: relative;
    margin: 15px;
}

.gifTrending {
    background-repeat: no-repeat;
    background-size: contain;
    width: 357px;
    height: 275px;
    position: relative;
    margin: 15px;
}

.gif-image {
    width: 156px;
    height: 120px;
}

.gifsContainer { 
    grid-template-columns: repeat(2,130px);
    grid-template-rows: repeat(2,160px);
}

@media screen and (min-width:600px) {
    .gifsContainer {
        grid-template-columns: repeat(3,160px);
        grid-template-rows: repeat(3,130px);
    }
}

@media screen and (min-width:768px){
    .gif-image, .gif {
        width: 186px;
        height: 150px;
    }

    .gifsContainer {
        grid-template-columns: repeat(3,200px);
        grid-template-rows: repeat(3,170px);
    }
}

@media screen and (min-width:1140px) {
    .gif-image, .gif {
        width: 260px;
        height: 200px;
    }

    .gifsContainer {
        grid-template-columns: repeat(4,275px);
        grid-template-rows: repeat(3,215px);
    } 
}