#myGifs-title-container{
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    align-items: center;
}

#myGifs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myGifsContainer {
    margin: 3% 0;
}