#search {
  padding: 20px;
}

#search-first {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
  color: var(--main-color);
  font-size: 25px;
  text-align: center;
  font-family: var(--montserrat);
  width: 90%;
}

.search-container{
    display: flex;
    flex-direction: column;
    margin: 31px 0;
    align-items: center;
}

.search-image {
    width: 80%;
}

.search-input-container{
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#searchContainer{
    display: flex;
}

#search-icon {
    margin: 0 10px;
}

#right-side {
    align-self: flex-end;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#search-input {
    border: none;
    font-family: var(--roboto);
    color: var(--black);
    margin: 12px 10px;
}

.search-trending-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.search-trending-text > p:nth-child(1) {
    color: var(--main-color);
    font-family: var(--montserrat);
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.leftSearch {
    opacity: 0.3;
    visibility: hidden;
    margin: 0 10px;
}

#separator {
    height: 2px;
    width: 80%;
    background-color: rgba(156,175,195,0.4);
    align-self: center;
    display: none;
}

.separator {
    height: 2px;
    width: 220px;
    background-color: rgba(156,175,195,0.4);
    align-self: center;
    display: none;
}

#separator2 { 
    opacity: 0.5;
    margin-top: 7%;
}

.newSugest {
    display: flex;
    align-items: center;
    margin: 10px 13px;
}

.newSugest:hover {
    cursor: pointer;
    filter: brightness(0.5);
}

.suggestImage {
    opacity: 0.3;
    height: 16px;
    width: 16px;
}

.suggestText {
    font-family: var(--roboto);
    font-size: 16px;
    color: #9CAFC3;
    text-align: left;
    margin-left: 15px;
}

#noResults {
    display: none;
    align-items: center;
    flex-direction: column;
}

#noResults > * {
    margin: 15px;
}

#noResultsImage {
    height: 150px;
    width: 150px;
}

#noResultsText {
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
}

#results {
    margin: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#results > * {
    margin: 3% 0;
}

#resultTitle {
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
}

#trendingSuggests {
    display: flex;
    flex-wrap: wrap;
}

.trendSuggest {
    color: var(--main-color);
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 25px;
    margin: 0 3px;
}

.trendSuggest:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (min-width:768px){
    .search-title {
        font-size: 35px;
        width: 45%;
    }

    .search-trending-text > p:nth-child(1) {
        font-size: 18px;
    }

    .search-trending-text > p:nth-child(2) {
        font-size: 16px;
    }

    #resultTitle {
        font-size: 35px;
    }
}
